<!DOCTYPE html>
<html lang="pl">

  <head>
	<link rel="stylesheet" type="text/css"   href="/css/style.css">
	<meta charset="utf-8">
  </head>

  <body>

    <h1>Tworzenie dokumentów docx przy użyciu jsa</h1>
	<div class="formularz">
	<form action="...">
		<input type="text" name="nazwa" id="nazwa" value="sprawozdanie">-Podaj tytuł pliku<br><br>
		<input type="text" name="naglowek" id="naglowek" value="Sprawozdanie 1">-Podaj tytuł strony tyułowej<br><br>
		<input type="text" name="wykonawca" id="wykonawca" value="imie nazwisko">-Podaj kto wykonał<br><br>
	</form>
	</div>
	<div class="guzik">
    <button type="button" onclick="generate()"><h1>Kliknij by stworzyć</h1></button>
	</div>
	<script type="text/javascript" src="C:\Users\michalcie\Desktop\Projekt strona\public\app.js">
		

	</script>

  </body>
</html>
